.corpo {
  margin: 80px auto 100px auto;
  display: block;
  width: 80%;
}

.login-box {
  width: 300px;
  padding: 10px;
  margin: 10px auto 10px auto;
}

.formulario-titulo {
  background-color: #248737;
  padding: 10px;
  color: white;
  font-size: 15pt;
  text-align: center;
}

.botao-entrar {
  width: 100px;
  display: block;
  margin: 0 0 0 auto;
}
@media all and (min-width: 450px){

  .botoes a {
    padding: 50px;
    font-size: 18pt;
  }

}
@media all and (max-width: 449px) {

  .botoes a {
    padding: 20px;
    font-size: 15pt;
  }

}
.botoes .col-lg {
  margin: 10px;
}

.botao-cadastro {
  display: block;
  width: 100px;
  margin: 20px 0 0 auto;
}
.botao-editar {
  float: right;
  margin: -20px 0 0 10px;
}
