@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Sunflower:300');

@font-face {
  font-family: "OleoScript";
  src: url("./fonts/OleoScript-Regular.ttf");
}

@media all and (min-width: 900px) {

  header {
    height: 360px;
    padding: 50px 0 50px 0;
  }
  .cabecalho-fundo {
    height: 360px;
    margin: -50px 0 -320px 0;
  }
  .cabecalho-conteudo {
    width: 800px;
    margin: auto;
  }
  .logo-seifpi {
    width: 200px;
    float: left;
  }
  .site-nome {
    display: none;
  }
  .titulo1 {
    font-size: 112pt;
    text-align: right;
  }
  .titulo2 {
    font-size: 26pt;
    text-align: right;
    margin: 20px 8px -35px 0;
  }
  .titulo3 {
    font-size: 24pt;
    text-align: right;
    margin: -50px 8px;
  }
  .data {
    margin-top: 90px;
  }

  .social i {
    font-size: 17pt;
  }

  section {
    width: 800px;
    margin: 30px auto 30px auto;
  }
  .secao-login {
    width: 400px !important;
  }

  #tabela-cronograma {
    width: 100%;
  }

  footer article {
    display: inline-block;
    text-align: left;
    margin: 15px 30px 15px 30px;
    vertical-align: top;
  }
  .footer-content {
    width: 800px;
    margin: 0 auto 0 auto;
  }
  .logo-ifpi {
    border-right: 1px solid rgba(0,0,0,.1);
    padding-right: 30px;
    width: 140px;
    float: left;
    margin: 0 0 0 20px;
  }

  .botao-login {
    display: block;
    width: 130px;
    margin: -40px 0 5px auto;
  }

}

@media all and (max-width: 899px){

  header {
    height: 270px;
    padding: 50px 0 50px 0;
  }
  .cabecalho-fundo {
    height: 270px;
    margin: -50px 0 -225px 0;
  }
  .cabecalho-conteudo {
    width: 310px;
    margin: auto;
  }
  .logo-seifpi {
    width: 50px;
    float: left;
    margin-top: 20px;
  }
  .site-nome {
    display: inline;
    font-family: 'Slabo 27px', serif;
    margin-left: 10px;
    font-size: 15pt;
  }
  .titulo1 {
    font-size: 47pt;
    text-align: right;
  }
  .titulo2 {
    font-size: 17.3pt;
    text-align: right;
    margin: 0 3px -15px 0;
  }
  .titulo3 {
    font-size: 13pt;
    text-align: right;
    margin: -25px 3px;
  }
  .data {
    margin-top: 50px;
    width: 100%;
  }

  .social i {
    font-size: 25pt;
  }

  section {
    margin: 30px;
  }

  #cronograma-content {
    overflow: auto;
  }
  #tabela-cronograma {
    box-sizing: border-box;
  }

  .footer-content {
    width: 100%;
  }
  footer article {
    display: block;
    text-align: center;
    margin: 20px;
    vertical-align: top;
  }
  .logo-ifpi {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 20px;
    width: 140px;
    display: block;
    margin: 20px auto 0 auto;
  }

  .botao-login {
    display: none;
  }

}

@media all and (min-width: 400px) and (max-width: 575px) {

  .confirmados {
    width: 300px;
  }

}

body {
  margin: 0;
}

nav {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 7;
}

header {
  display: block;
  width: 100%;
  top: 50px;
  margin: 50px auto 20px auto;
  background-color: #248737;
  color: white;
  z-index: 5;
}
.cabecalho-fundo {
  background: url("./img/header.png");
  background-position: center;
  background-size: cover;
  z-index: 1;
  box-sizing: border-box;
  display: block;
  width: 100%;
}
.cabecalho-conteudo {
  z-index: 2;
}
.titulo1 {
  font-family: 'Slabo 27px', serif;
}
.titulo2 {
  font-family: 'Raleway', sans-serif;
}
.titulo3 {
  font-family: 'Sunflower', sans-serif;
}
.data {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.link-nav {
  height: 0;
  position: absolute;
  margin-top: -70px;
}

.social a {
  color: rgba(255,255,255,.5);
}
.social a:hover {
  color: white;
}

.secao-inscricao, .secao-login {
  margin-top: 90px;
}
.site-inscricoes-nome {
  display: inline;
  font-family: 'Slabo 27px', serif;
  margin-left: 10px;
  font-size: 15pt;
}

.posts {
  width: 100%;
  max-width: none;
  padding: 0;
}
.posts .row {
  box-sizing: border-box;
  padding: 0;
  margin: 0 -5px 0 -5px;
}

.secao-inscricao td {
  vertical-align: middle !important;
}

.confirmado-foto {
  width: 100%;
}
.confirmado-nome {
  font-size: 13pt;
  margin: 10px 5px 5px 5px;
  font-weight: 900;
}
.confirmado-curriculo {
  margin: 5px;
}
.confirmados hr {
  margin: 0;
}

.fotos {
  width: 100%;
  box-sizing: border-box;
  max-width: none !important;
}
.foto {
  width: 100%;
  height: 250px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.col-sm {
  margin: 5px;
  padding: 0;
}
.f1 {
  background: url("./img/fotos/f1.png");
}
.f2 {
  background: url("./img/fotos/f2.png");
}
.f3 {
  background: url("./img/fotos/f3.png");
}
.f4 {
  background: url("./img/fotos/f4.png");
}
.f5 {
  background: url("./img/fotos/f5.png");
}
.f6 {
  background: url("./img/fotos/f6.png");
}

.insta-icon {
  margin-right: 10px;
}
.seguir {
  float: right;
  font-size: 12pt;
  margin-top: 0;
  margin-bottom: 5px;
}

section, footer {
  display: block;
  font-family: 'Raleway', sans-serif;
}
article {
  margin-bottom: 20px;
}

.titulo-artigo {
  color: black;
  font-size: 25pt;
}
.subtitulo-artigo {
  text-align: right;
  font-size: 15pt;
}
.linha-titulo {
  margin-top: 0;
  border: none;
  background-color: #248737;
  height: 2px;
}

.titulo-mesa {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  font-size: 30pt;
  background-color: #81B170;
  color: white;
  padding: 15px;
  margin-top: -16px;
}
@media all and (min-width: 700px) {
  .integrante.aless {
    display: block;
    margin: 0 0 -100px auto;
  }
  .integrante.henri {
    display: block;
    margin: 0 -20px 0 auto;
  }
}
@media all and (max-width: 699px) {
  .integrante {
    display: block;
    width: 80%;
  }
  .integrante.aless {
    margin: 0 0 0 auto;
  }
  .integrante.clod {
    margin-top: -15%;
  }
  .integrante.henri {
    margin: 0 0 0 auto;
  }
}

#inscricao {
  display: block;
  margin: 25% auto 25% auto;
  text-align: center;
}


.creditos {
  margin: 0;
  padding: 4px 0 0 0;
}
.footer-subcontent {
  width: 100%;
  box-sizing: border-box;
}
footer {
  background-color: #ADDABA;
  bottom: 0;
  padding: 20px;
}
.titulo-rodape {
  font-size: 20pt;
  font-weight: 900;
  text-decoration: underline;
  text-decoration-color: #248737;
}
footer article p {
  margin: 0;
}
.creditos {
  text-align: center;
  font-family: "Raleway";
}
.obrigado {
  font-family: "OleoScript";
  font-size: 40pt;
  text-align: center;
  color: #248737;
}
.obrigado-sub {
  text-align: center;
}
.certificado-botao {
  display: block;
  font-size: 15pt;
}
.pagina-certificados {
  margin-top: 100px;
}
