@page {
    background: url("./modelo.png") 0 0;
    background-image-resize: 3;
}

.box {
  display: block;
  top: 100px;
  margin-top: 100px;
}

.box p {
  font-family: 'Raleway', sans-serif;
  font-size: 15pt;
}
.data {
  text-align: right;
}
